<!DOCTYPE HTML>
<html>
 <head>
  <title>Flask-SocketIO Test</title>
   <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
   <link rel="stylesheet" href="static/libs/jquery-ui.min.css">
   <script src="static/libs/jquery-3.2.1.min.js"></script>
   <script src="static/libs/jquery-ui.min.js"></script>
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
   <script src="static/libs/plotly-latest.min.js"></script>
   <script src="static/libs/gauge.min.js"></script>
   <script type="text/javascript" charset="utf-8">
    let isOn = false;
     $(document).ready(function() {
       // data
      console.log("READY")
      namespace = '/test';
      var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

      socket.on('connect', function() {
        socket.emit('my_event', {data: 'I\'m connected!', value: 1}); });
      
        socket.on('my_response', function(msg) {
        console.log(msg.data);
        if(isOn == true){
          $('#json_response').append('JSON response: '+': '+JSON.stringify(msg.data, null,2)+'<br>').html; 
          
          //$('#log').append('Received '+': '+msg.data+'<br>').html(); 
          }
        });
          
      $('form#emit').submit(function(event) {
          socket.emit('my_event', {value: $('#emit_value').val()});
          return false; });
      $('#buttonVal').click(function(event) {
          console.log($('#buttonVal').val());
          socket.emit('click_event', {value: $('#buttonVal').val()});
          return false; });
      $('form#disconnect').submit(function(event) {
          socket.emit('disconnect_request');
          return false; });         
      
      // graph
      var x = new Array();
      var t = new Array();
      var h = new Array();
      var d = new Array();
      var trace;
      var layout;
      
      namespace = '/test';
      var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

      socket.on('connect', function() {
        socket.emit('my_event', {data: 'I\'m connected!', value: 1}); });

      socket.on('my_response', function(msg) {
        $('#json_response').append('JSON response: '+': '+JSON.stringify(msg.data, null,2)+'<br>').html; 
        //graphData = JSON.parse(msg.data)
        console.log(msg)
        //console.log(msg.data);
        //$('#log').append('Received #'+msg.count+': '+msg.data+'<br>').html(); 
        x.push(parseFloat(msg.count));
        t.push(parseFloat(msg.data.t));
        h.push(parseFloat(msg.data.h));
        d.push(parseFloat(msg.data.d))
        trace1 = {
            x: x,
            y: t,
            name: 'temperature'
        };  
        trace2= {
            x: x,
            y: h,
            name: 'humidity'
        };      
        trace3= {
            x: x,
            y: d,
            name: 'distance'
        };  
        layout = {
          title: 'Data',
          xaxis: {
              title: 'x',
          },
          yaxis: {
              title: 'y',
              //range: [-1,1]
          }
        };
        //console.log(trace);
        var traces = new Array();
        traces.push(trace1);
        traces.push(trace2);
        traces.push(trace3);
        Plotly.newPlot($('#plotdiv')[0], traces, layout); 
        //addTraces               
        });
      
      // gauge  
      var gauge = new RadialGauge({
          renderTo: 'canvas1',
          width: 300,
          height: 300,
          units: "°C",
          minValue: 0,
          maxValue: 50,
          majorTicks: [
              "0",
              "5",
              "10",
              "15",
              "20",
              "25",
              "30",
              "35",
              "40",
              "45",
              "50"
          ],
          minorTicks: 2,
          strokeTicks: true,
          highlights: [
              {
                  "from": 35,
                  "to": 50,
                  "color": "rgba(200, 50, 50, .75)"
              }
          ],
          colorPlate: "#fff",
          borderShadowWidth: 0,
          borders: false,
          needleType: "arrow",
          needleWidth: 2,
          needleCircleSize: 7,
          needleCircleOuter: true,
          needleCircleInner: false,
          animationDuration: 1500,
          animationRule: "linear"
      });
      
      var gauge2 = new RadialGauge({
          renderTo: 'canvas2',
          width: 300,
          height: 300,
          units: "%",
          minValue: 0,
          maxValue: 100,
          majorTicks: [
              "0",
              "5",
              "10",
              "15",
              "20",
              "25",
              "30",
              "35",
              "40",
              "45",
              "50",
              "55",
              "60",
              "65",
              "70",
              "75",
              "80",
              "85",
              "90",
              "95",
              "100"
          ],
          minorTicks: 2,
          strokeTicks: true,
          colorPlate: "#fff",
          borderShadowWidth: 0,
          borders: false,
          needleType: "arrow",
          needleWidth: 2,
          needleCircleSize: 7,
          needleCircleOuter: true,
          needleCircleInner: false,
          animationDuration: 1500,
          animationRule: "linear"
      });
      
      gauge.draw();
      gauge2.draw();
      gauge.value = msg.data.t;
      gauge2.value = msg.data.h;
            
      });
      
      $( function() {
        $( "#tabs" ).tabs({
          event: "mouseover"
        });
      } );
    </script>
 </head>
<header><h1>Sensors signal processing</h1></header>
 <body>
   
   <div id="tabs">
      <ul>
        <li><a href="#tabs-1">Data</a></li>
        <li><a href="#tabs-2">Graph</a></li>
        <li><a href="#tabs-3">Gauge</a></li>
        <li><a href="#tabs-4">Database</a></li>
        <li><a href="#tabs-5">Folder</a></li>
      </ul>
      
      <div id="tabs-1">
<!--
        <h2>Send:</h2>
        <form id="emit" method="POST" action='#'>
          <input type="text" name="emit_value" id="emit_value" placeholder="Amplituda">
          <input type="submit" value="Send">
        </form>
        <button id="buttonVal" type="submit" value="send">Send value</button>
-->
        <form id="disconnect" method="POST" action="#">
          <input type="submit" value="Disconnect">
        </form> 
        <button id="on">Start saving data</button>
        <h2>Received:</h2>
        <div id="json_response"></div>
      </div>
      <div id="tabs-2">
<!--
        <h2>Send:</h2>
        <form id="emit" method="POST" action='#'>
          <input type="text" name="emit_value" id="emit_value" placeholder="Amplituda">
          <input type="submit" value="Send">
        </form>
        <button id="buttonVal" type="submit" value="send">Send value</button>
-->
<!--
        <form id="disconnect" method="POST" action="#">
          <input type="submit" value="Disconnect">
        </form> 
-->
        <h2>Live graph:</h2>
        <div id="plotdiv" style="width:600px;height:250px;"></div>

      </div>
      <div id="tabs-3">
<!--
        <form id="disconnect" method="POST" action="#">
          <input type="submit" value="Disconnect">
        </form> 
-->
        <h2>Live gauge:</h2>
<!--
        <canvas id="canvasID"></canvas>
-->
        <div style="display:flex">
          <canvas id="canvas1" width="300" height="300"></canvas>
          <canvas id="canvas2" width="300" height="300"></canvas>
        </div>
        
      </div>
      <div id="tabs-4">
        <h2>Find by ID in DB:</h2>
        <form id="emitDB" method="POST" action='#'>
          <input type="text" name="emitDB_value" id="emitDB_value" placeholder="ID">
          <input type="submit" value="Send">
        </form>
        <h2>Received:</h2>
        <div id="DB_response"></div>
      
      </div>
      
      <div id="tabs-5">
        <h2>Find by ID in file:</h2>
        <form id="emitFile" method="POST" action='#'>
          <input type="text" name="emitFile_value" id="emitFile_value" placeholder="ID">
          <input type="submit" value="Send">
        </form>
        <h2>Received:</h2>
        <div id="File_response"></div>
      
      </div>
    </div>
   
   
  
 </body>
</html>

<script type="text/javascript" charset="utf-8">
  const button = document.getElementById('on');
      let clickCount = 0;
      button.addEventListener('click', () => {
        clickCount++;
        if (clickCount % 2 !== 0){
          button.textContent = "Stop";
          isOn = true;
        }
        else {
          button.textContent = "Start saving data";
          isOn = false;
        }
      });
    </script>
